{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{#<div id="user-register">#}
{#  <form{{ attributes }}>#}
{#    <h5>DATOS DEL USUARIO</h5>#}
{#    {{ children }}#}
{#  </form>#}
{#</div>#}
{#<div class="form-wrapper pt-10">
      <div class="row">
        <div class="form-item col-sm-6">
          {{ children }}
          {{ element.username }}
          -
          {{ element.name }}
          #}{#<input type="text" class="form-control" required placeholder="Usuario">#}{#
        </div>
        <div class="form-item col-sm-6">
          {{ element.password }}
          -
          {{ element.pass }}
          #}{#<input type="password" class="form-control"
                 required placeholder="Contraseña">#}{#
        </div>
      </div>
    </div>

    <hr>
    <h5>DATOS PERSONALES</h5>
    <div class="form-wrapper pt-10 pb-10">
      <div class="row">
        <div class="form-item col-sm-6">
          {{ element.field_user_nombres_apellidos }}
          #}{#<input type="text" class="form-control"
                 required placeholder="Nombres y apellidos completos">#}{#
        </div>
        <div class="form-item col-sm-6">
          {{ element.field_user_dni }}
          #}{#<input type="text" class="form-control" required placeholder="DNI">#}{#
        </div>
        <div class="form-item col-sm-6">
          {{ element.field_user_telefono }}
          #}{#<input type="text" class="form-control" required placeholder="Teléfono">#}{#
        </div>
        <div class="form-item col-sm-6">
          <p>Región: input or list?</p>
          #}{#<input type="text" class="form-control" required placeholder="Región">#}{#
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-item-checkbox pt-20">
          #}{#<input type="checkbox" id="politicas" name="politicas"
                 class="form-type-checkbox" required>
          <label for="politicas">He leído y estoy de acuerdo con las
            <a href="#">Políticas de privacidad</a> y <a href="#">Condiciones generales de la
              Incubadora PQS</a>.</label>#}{#
        </div>
      </div>
    </div>

    {{ element.form_build_id }} #}{# required #}{#
    {{ element.form_id }} #}{# required #}{#

    <div class="form-actions">
      {{ element.actions.submit }}
      #}{#<input class="btn btn-gradiente btn-sm form-submit mt-20"
             type="submit" name="op" value="Crear cuenta">#}{#
    </div>#}
