{# detectar empresa actual #}
<header class="c-header {{ empresa_color }}" id="headerPrincipal"
        style="background: url({{ empresa_bg_header }}) repeat-x !important">
  <div class="c-header__top header--gruporomero py-3 text-white">
    <div class="container d-flex justify-content-between align-items-center">
      {{ page.logo }}
      <div class="d-flex align-items-center">
        <div class="c-header__boletin">Boletín informativo</div>
        <div class="c-header__toggle navbar navbar-dark navbar-expand-lg d-lg-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-icon"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-header__fecha bg-secondary text-white py-2">
    <div class="container d-flex flex-wrap justify-content-between">
      <div class="fecha">
        {# Lunes, 24 de junio de 2019 #}
        {%- set fecha_dia_texto = 'now'|date('l')|t -%}
        {%- set fecha_dia = 'now'|date('d') -%}
        {%- set fecha_mes = 'now'|date('F')|t -%}
        {%- set fecha_anio = 'now'|date('Y') -%}
        {{ fecha_dia_texto }}, {{ fecha_dia }} de {{ fecha_mes }} de {{ fecha_anio }}
      </div>
    </div>
  </div>
  <div class="c-header__menu c-header__menu--empresa">
    <div class="container">
      <nav class="navbar navbar-light navbar-expand-lg p-0">
        <div class="collapse navbar-collapse" id="navbarNav">
          {{ page.menu }}
        </div>
      </nav>
    </div>
  </div>
</header>
